.dialog {
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;

    &__card {
        animation-duration: 0.07s !important;
        background-color: $white;
        border-radius: rem(4px);
        box-shadow: rgba(0, 0, 0, 0.2) 0 rem(2px) rem(4px) rem(-1px),
            rgba(0, 0, 0, 0.14) 0 rem(4px) rem(5px),
            rgba(0, 0, 0, 0.12) 0 rem(1px) rem(10px);
        height: auto;
        overflow: auto;
        padding: rem(20px);
        width: 60%;
    }

    &__header {
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px);
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        margin-bottom: rem(20px);
        padding: 0 0 rem(16px) 0;
    }

    &__title {
        color: $black;
        font-size: rem(20px);
        font-weight: 600;
        letter-spacing: rem(0.2px);
        line-height: rem(32px);
    }

    &__close {
        background: transparent
            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
            center/1em auto no-repeat;
        border: 0;
        border-radius: rem(4px);
        color: $black;
        cursor: pointer;
        height: rem(16px);
        opacity: 0.5;
        padding: rem(4px) rem(4px);
        width: rem(16px);
        &:hover {
            color: $black;
            opacity: 0.75;
            text-decoration: none;
        }
    }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: opacity 5.5s;
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0.2;
}

.slide-enter-active {
    transition: all 4.3s ease;
}

.slide-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-enter,
.slide-leave-to {
    opacity: 0;
    transform: translateX(100px);
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.5s opacity ease-out;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
